.about-container {
    width: 100%;
    padding: 20px;
  }
  
  .about-content {
    display: flex;
    justify-content: space-around;
  }
  
  .about-section {
    margin-right: 30px;
  }
  
  .about-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-section ul li {
    margin-bottom: 8px;
  }
  
  .about-section ul li p {
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    margin-right: 10px;
  }
  p{
    color: #80878e;
  }